<h1>Add a New Post</h1>

<%= form_for @post do |f| %>

<div class="newpostname">
  <%= f.label :postname %>
  <%= f.text_field :postname %>
</div>

  </br>

<div class="newpostname">
  <%= f.label :fname %>
  <%= f.text_field :fname %>
</div>

  </br>

<div class="newpostname">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

  </br>

<div class="submit">
  <%= f.submit %>
</div>

<% end %>