<h1>Detailed Blog Post</h1>

<div class="postname2">
  <%= @post.postname %>
</div>

<div class="name">
  <%= @post.fname %>
  <%= @post.lname %>
</div>
  
<div class="email">
  <%= @post.email %>
</div>

<div class="time2">
  <%= @post.created_at %>
</div>
